* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#root {
  /* background-color: rgb(218, 173, 159);  */
}
main {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  
}
header {
  background-color:#ABAC7F;
  width: 100%;
  /* position: fixed; */
}
header img {
  width: 5em;
  padding-left: 1em;
  box-sizing: border-box;
}
.form {
 display: flex;
 justify-content:flex-end;
 padding: 1rem;
  
  
}
/* .form button :hover {
  background-color:green;
  color:coral;
} */

input {
  padding: 8px;
}
.categorielist {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background:#717744;
  margin: 0 auto;

}
  @media(min-width: 768px) {
   .categorielist{
    margin: 0 auto;
    padding: 0 2rem;  
   }
  }


.categorielist h1 {
  width: 100%;
  text-align: center;
  color:#373D20;
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
  margin:2rem 2rem;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  
}
.category {
  border: 1px solid gray;
  padding: 2em;
  margin: 1em;
  color: gray;
  background-color:#ABAC7F;
  border-radius: 10px;
  font-size: 20px;
  text-decoration: none;
}
.category h3{
  margin: 0.5em auto;
  color:#373D20;
  text-decoration: underline;
  font-size: 30px;
}
.meals {
 display:flex;
 flex-wrap: wrap;
 
 align-items: center;
 margin: 0 auto;
  background-color:#717744;
 
  

}
@media (min-width: 768px) {
 .meals{
   display:flex;
   flex-wrap: wrap;
   margin: 0 auto;
   padding:0 2rem;
 } 
}
.meal h1 {
  width: 100%;
  text-align: center;
  color:#373D20;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}
.meal {
 
  display: flex;
 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #717744;
 padding: 0 1rem;

 display: flex;
  flex-wrap: wrap;
  
}
.mealcard {
  border: 1px solid gray;
  padding: 1rem;
  margin:1rem 1rem;
  text-align: center;
  border-radius: 20px;
  background-color:#ABAC7F;
}
.mealcard h3 {
  margin: 0.5em auto;
  color:#373D20;
  word-wrap: break-word;
  text-decoration: none;
  font-size: 25px;
  text-decoration: underline;
}
.mealcard img {
  border-radius: 10px;
  border: 1px solid beige;
}

.recipes {
  display:flex;
  flex-wrap: wrap;
  background-color: #717744;
}
@media (min-width: 608px) {
.recipes {
  display: flex;
  justify-content: column;
  align-items: center;

}
}

.measurement {
  background-color:#717744;
  padding:0 2rem;
  
}
.measurement h1 {
  width: 100%;
  text-align: center;
  color: #373D20;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
.recipes h2 {
  color: #373D20;
  text-align: center;
  padding-bottom:0.5rem;
}


.image img {
border-radius: 10px;
margin: auto;
padding: 0 1rem;
}
.instruction {
  font-size: 20px;
  color: rgb(221, 221, 183);
  margin: 0 2em;
}
.instruction h3 {
  color:#373D20;
  margin:1rem;
}
.instruction ul {
  list-style-type: square;
}
button {
  padding: 0.5rem;
}
.returnbutton {
  margin: 1rem 1rem 10px 90%;
  background-color: beige;
  border-radius: 10px 100px / 120px;
}
.searchResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding:0 2rem;
  background-color:#717744;
}
.searchResults h1 {
  width: 100%;
  text-align: center;
  color: #373D20;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid gray;
}
.list-item {
  list-style-type: none;
}
.list-item h3 {
  text-align: center;
  margin:0 auto;
}
.feedback {
  color:white;
}
.singleFoodRecipes{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image{
  border: 1px solid gray;
  background-color:#ABAC7F;
  border-radius: 10px;

}