* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#root {
  /* background-color: rgb(218, 173, 159);  */
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
}
header {
  background-color: rgb(68, 67, 67);
  width: 100%;
  /* position: fixed; */
}
header img {
  width: 5em;
  padding-left: 1em;
  box-sizing: border-box;
}
.form {
  float: right;
  padding-top: 1.5em;
  padding-right: 50px;
}
/* .form button :hover {
  background-color:green;
  color:coral;
} */

input {
  padding: 8px;
}
.categorielist {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  /*  height:80vh; */
  overflow: auto;
  background: rgb(20, 20, 20);
  margin: 0 auto;
}

.categorielist h1 {
  width: 100%;
  text-align: center;
  color: gray;
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid gray;
}
.category {
  border: 3px solid gray;
  padding: 2em;
  margin: 1em;
  color: gray;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(187, 187, 187);
  text-decoration: none;
}
.category h3{
  margin: 0.5em auto;
  color: black;
  text-decoration: underline;
  font-size: 30px;
}
.meals {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  overflow: auto;
  background-color: rgb(46, 45, 45);
  margin: 0 5em;
}
.meal h1 {
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}
.meal {
  background-color: rgb(46, 45, 45);

  /* display: flex;
  flex-wrap: wrap;
  overflow: auto; */
}
.mealcard {
  border: 3px solid gray;
  padding: 1em;
  margin:1em 1em;
  color: gray;
  text-align: center;
  border-radius: 20px;
  background-color:black;
}
.mealcard h3 {
  margin: 0.5em auto;
  color: beige;
  text-decoration: none;
  font-size: 25px;
  text-decoration: underline;
}
.mealcard img {
  border-radius: 10px;
  border: 1px solid beige;
}

.recipes {
  background-color: rgb(46, 45, 45);
}
.recipe {
  display: flex;
  margin: 0 3em;
}
.recipes h1 {
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}
.recipes h2 {
  color: beige;
  margin-left: 10em;
  margin-bottom: 10px;
}
.recipe img {
  border-radius: 20px;
  border: 3px solid beige;
}
.instruction {
  font-size: 20px;
  color: gray;
  margin: 0 2em;
}
.instruction h3 {
  color: beige;
  margin-bottom: 10px;
}
.instruction ul {
  list-style-type: square;
}
button {
  padding: 0.5rem;
}
.returnbutton {
  margin: 1rem 1rem 10px 90%;
  background-color: beige;
  border-radius: 10px 100px / 120px;
}
.searchResults {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(46, 45, 45);
}
.searchResults h1 {
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5;
}
.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid gray;
}
.list-item {
  list-style-type: none;
}
.list-item h3 {
  text-align: center;
  margin: 1em auto;
}
